# Base configuration
NEXT_PUBLIC_SITE_URL=https://sokojunction.com
NEXT_PUBLIC_APP_URL=https://shop.sokojunction.com
NEXT_PUBLIC_MERCHANT_URL=https://merchant.sokojunction.com
NEXT_PUBLIC_BACKEND_URL=https://techend-backend-j45c.onrender.com
NEXT_PUBLIC_GA_ID=G-F23L8C9HPP
